.container
  %h1 プロフィール編集
  = render 'common/error_messages', object: @profile

  = form_with model: @profile, url:profile_path, local: true do |f|
    %div
      =f.label :nickname, "表示名"
      =f.text_field :nickname, class: 'text'
    %div
      =f.label :introduction, "自己紹介"
      =f.text_area :introduction
    %div
      =f.label :birth_day, "誕生日"
      =f.date_field :birth_day
    %div
      =f.label :gender, "性別"
      =f.select :gender, [["男性", "male"], ["女性", "female"]], {}, class: 'text'
    %div
      =f.label :subscribed, "通知を受け取る"
      =f.check_box :subscribed
    %div
      =f.submit "投稿する", class: 'btn-primary'



-# #  id           :bigint           not null, primary key
-# #  birth_day    :date
-# #  gender       :integer
-# #  introduction :text
-# #  nickname     :string
-# #  subscribed   :boolean
-# #  created_at   :datetime         not null
-# #  updated_at   :datetime         not null
-# #  user_id      :bigint           not null
