%header.header
  = link_to 'Blog App', root_path, class: 'header_pageTitle'
  .dropdown
    = image_tag 'default-avatar.png', class: 'header_avatar dropbtn'
    .dropdown-content
      %a{ href: "#" } プロフィール
      %a{ href: "#" } ログアウト
